<div class="modal fade" id="rating" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t "views.conversation.show.rating" %></h4>
      </div>
        <div id="star-rating">
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" class="stars"/><label class = "full" for="star5" title="Awesome"></label>
            <input type="radio" id="star4" name="rating" value="4" class="stars"/><label class = "full" for="star4" title="Good"></label>
            <input type="radio" id="star3" name="rating" value="3" class="stars"/><label class = "full" for="star3" title="Not bad"></label>
            <input type="radio" id="star2" name="rating" value="2" class="stars"/><label class = "full" for="star2" title="Bad"></label>
            <input type="radio" id="star1" name="rating" value="1" class="stars"/><label class = "full" for="star1" title="Very bad"></label>
          </fieldset>
        </div>
    </div>
  </div>
</div>
