$header-noti-scrollbar: #F5F5F5;
$header-noti-border:#e2e2e2;
$header-noti-background: #fff;
$header-noti-icon: #999;
$header-noti-icon-hover: #333;
$header-noti-time: #B97745;
$header-noti-time-background-1: #fff;
$header-noti-time-background-2: #f2f2f2;
$header-noti-p: #666;
$header-noti-footer:#777;
$header-noti-footer-hover: #333;
$blue_1: #00b1b1;
$white_smoke: #f8f8f8;
$deep_arctic_blue: #03b1ce;
