@import "bootstrap-sprockets";
@import "bootstrap";
@import "color";



.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: $header-noti-background;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid $header-noti-border;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color:$header-noti-scrollbar;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: $header-noti-scrollbar;
}

.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid $header-noti-border;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: $header-noti-icon;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: $header-noti-icon-hover;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: $header-noti-border;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: $header-noti-p;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid $header-noti-border;
  position: relative;
  background-image: linear-gradient($header-noti-time-background-1,$header-noti-time-background-2);
  display: inline-block;
  border-radius: 2px;
  color: $header-noti-time;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient($header-noti-time-background-1,$header-noti-time-background-1);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid $header-noti-border;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: $header-noti-footer;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: $header-noti-footer-hover;
}

.form-login {
  position: relative;
  max-width: 800px;
  margin: 0 auto 100px;
  padding: 0px;
  text-align: center;
  .modal-inline {
    display: inline;
    label {
      display: inline;
    }
  }
}

.login-inside {
  width: 400px;
}

.modal-content {
  max-width: 400px;
  max-height: 820px;
  margin: 0 auto 100px;
  padding: 45px;
}
input.hidden {
  position: absolute;
  left: -9999px;
}

#profile-image1 {
  cursor: pointer;

  width: 100px;
  height: 100px;
  border:2px solid $deep_arctic_blue ;
}

.bot-border{
  border-bottom:1px $white_smoke solid;
  margin:5px 0  5px 0;
}

.tital{
  font-size:16px; font-weight:500;
}

h4 {
  color: $blue_1;
}

hr {
  margin:5px 0 5px 0;
}
.none_decoration{
  color: white;
  text-decoration: none;
}
.none_decoration:hover{
  color: white;
  text-decoration: none;
}

.request  {
  width: 1108px;
}

.apply-button {
  width: 80%;
  margin: 50px;
}

.job-list {
  background: #f8f8f8;
}
.accept-apply {
  margin-left: 10px;
}
.custab{
  border: 1px solid $gray;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px $gray;
  transition: 0.5s;
}
.custab:hover {
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
label.error {
  color: $error_validate;
}

#search-submit {
  clear: left;
}
